/* Globals */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 
  vertical-align: baseline;
  margin: 0;
  padding: 0; 
  }

::-webkit-input-placeholder { /* WebKit browsers */
    color:gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   gray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   gray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:gray;
}


html {
    
}


h1 
{
     font-size:20px;
     font-weight:normal;
}










#blocker
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color:Black;
    z-index: 1000;
}
#blocker div
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200em;
    height: 2em;
    margin: -1em 0 0 -2.5em;
    color: #fff;
    font-weight: bold;
}

#maincontent
{
   padding-top:20px; 
   margin-left:20px; 
   display:none;
    
}


#header {
    background-color:transparent;
    width: 100%;
    text-align:left;
    height: 60px; 
}
#header img{
     margin-left:0px;
     margin-top:10px;
}

body { 
    
    background:transparent;
    width: 100%;
    color:black;
    font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
    font-size : 1em;
    overflow: auto;
   

 
}

/*
.ui-widget-content 
{
    
    background: #a6a6a2;
    
    /*opacity: 0.9;
    /*background: rgb(166, 166, 162); /* Fall-back for browsers that don't
                                    support rgba 
    background: rgba(166, 166,162, .5);
}
.ui-widget-header
{
    background:transparent;
    border: 0px;
}
.ui-tabs 
{
   background:transparent;
   border: 0px;
   
   
}
.ui-widget
{
    font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
    font-size : 1em;
    color:Black;
}

*/

.ui-tabs .ui-corner-top
{
    border-top-right-radius: 20px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
}


.ui-tabs .ui-tabs-panel
{
    padding: 1em 1em 1em 4px;
    
    
}
/*
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
   background: #a6a6a2;
   border: 1px solid #d3d3d3; 
}

.ui-accordion .ui-accordion-header a 
{
     font-size: 16px;
     padding: 5px 1px 5px 25px;
}
*/

#menu {
    padding: 0px;
    position:relative;
    padding-bottom : 10px;
    height:32px;
    background-color:transparent;
     z-index:99;
    width: 100%;
    text-align:left;
     font-size:1.1em;
    
    border-top-style: none;
    border-bottom-style:none ;
    
}
#menu a
{
    
    
    text-decoration:none;
     }
#menu a:hover 
{
    
    font-weight: bold;
    text-decoration:none;
     }
a {
  
    color:black;
    text-decoration:none;
    
     }

a:hover 
{
    
    font-weight: none;
    text-decoration:underline;
     }
     


p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 300; }

#container {
    width: 100%;
    
}

table
{
  border-collapse: collapse;
  border-color: #999999;
  border-style:none;
  border-width:1px; 
  background-color:transparent;
    
}

table td
{
   padding:5px;
   background-color:transparent; 
   vertical-align:middle;
   font-size:15px;
  
   color:Black;
}

.TDwithButtons
{
     white-space:nowrap;
     vertical-align:middle;
}

.insertrow
{
    background-color:gray;
 
}
.editrow
{
    background-color:gray;
 
}

.tableheaderrow
{
  background-color:gray;
  text-align:left;
   color:Black;
   
   
}

table th
{
    padding:5px; 
   font-size:17px;
   font-weight:normal;  
   white-space:nowrap; 
}

.tableheaderrow th
{
  padding:5px;  
   font-size:18px;
   font-weight:normal; 
   white-space:nowrap;
}



#client_info_table td
{
    width: 200px;
    text-align:right;
    
}
#section_info_table td
{
    /*width: 400px;
    text-align:right;
    
    /*font-family: Arial, Helvetica, sans-serif;
    font-size:x-small;
    color:Black;*/
 
    
}
#change_section_status td
{
    
    /*text-align:left;
    
     
    
    color:Black;*/
      
      
    
}
#quote_status_table td
{
    /*width: 200px;
    text-align:right;
    
    color:Black;*/
      
    
}
.statusSlidingDiv {
    height:300px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}
 
.statusShow_hide {
    display:none;
}


#popup
{
   background-color: transparent;
    text-align: justify;
    line-height: 1.5em;
    margin: 0 0 0 0px;
    padding-right: 1px;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 0px solid #cccccc;
    color: #000000; 
     
}

#one_column {
    background-color: transparent;
    text-align: justify;
    line-height: 1.5em;
    margin: 0 0 0 0px;
    padding-right: 1px;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 0px solid #cccccc;
    
    color: #000000;
    
}
#one_column p {
    padding: 10px;
    
}
.titleDiv
{
    height:40px;
    
}
.titleDiv h1 {
    background-color:transparent;
     position:relative;
     float:left;
    color: white;
     padding-right:5px;
    
    font-size: 1.3em;
    
  

    
    border-color: #C0C0C0 #808080 #808080 #C0C0C0;
}

.smallheading
{
      font-size:20px;
     color:Black;
      margin-bottom:2px;
}

.titleDiv #toolbar
{
    position:relative;
    float:right;
    z-index:10;
     margin-right:78px;
    
   
}



#one_column h2 {
    background-color: #808080;
    border-top: 1px solid #9fbb88;
    border-left: 1px solid #9fbb88;
    border-bottom: 1px solid #5d7744;
    border-right: 1px solid #5d7744;
    color: #FFFFFF;
    padding: 5px;
    font-weight: normal;
    font-size: 200%;

    
    border-color: #C0C0C0 #808080 #808080 #C0C0C0;
}





input[type="password"]
{
    padding :3px;
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: #000000;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
     
}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px #C0C0C0 inset;
    border: 1px solid #C0C0C0;
    color: #000000;
}

input[type=checkbox] :checked {
    background-color:#C0C0C0;
    border-left-color:#C0C0C0;
    border-right-color:#C0C0C0;
}

input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #C0C0C0;
}



input[type="text"]
{
    padding :3px;
    font-size :0.9em;
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: #000000;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
     
}


textarea {
    padding :3px;
    font-size :0.9em;
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: #000000;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
    overflow:auto;
    font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
}
select
{
     padding:3px;
     
    
   background-color: #C0C0C0;
   border: 1px solid #C0C0C0;
  -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
  
    
}

input[type="submit"]
{
   
    display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #C0C0C0;
	border: solid 1px #555;
	background: #949494;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
input[type="submit"]:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
input[type="submit"]:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
input[type="submit"][value="Delete"] {
	 
	   
	display:inline-table;   
	width:25px; height:25px;
	background-image:url(Images/Delete.png); background-repeat:no-repeat;
	font-size:0px; line-height:0;  
	border:none;
	text-shadow:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	 
}
input[type="submit"][value="Cancel"] {
	 
	   
	display:inline-table;   
	width:25px; height:25px;
	background-image:url(Images/cancel.png); background-repeat:no-repeat;
	font-size:0px; line-height:0;  
	border:none;
	text-shadow:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	 
}
input[type="submit"][value="X"] {
	 
	   
	display:inline-table;   
	width:25px; height:25px;
	background-image:url(Images/cancel.png); background-repeat:no-repeat;
	font-size:0px; line-height:0;  
	border:none;
	text-shadow:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	 
}




/*acronym {
    font-variant: small-caps;
    cursor: help;
    letter-spacing: 2px;
    font-weight: bold;
    
}


/*.cpBody
        {
            background-color: #DCE4F9;
            font: normal 11px auto Verdana, Arial;
            border: 1px gray;               
            width:450px;           
            padding: 4px;
            padding-top: 2px;
            height:0px;
          overflow: hidden;
        }*/
        

        
.greenRow
    {    
           background-color:#416969; 
          
    }
.redRow
    {    
         background-color:#694141;
         
    }
    
    
    ::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
/*::-webkit-scrollbar-corner {
	background-image: url(Images/scrollbar/FguQn.png);
	background-repeat: no-repeat;
}
::-webkit-resizer {
	background-image: url(Images/scrollbar/aKKDY.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}*/
::-webkit-scrollbar-button:start {
	display: none;
}
::-webkit-scrollbar-button:end {
	display: block;
}
::-webkit-scrollbar:horizontal {
	-webkit-border-image: url(Images/scollbar/NQ2K6.png) 0 2 0 2;
	border-color: transparent;
	border-width: 0 2px;
	background-image: url(Images/scollbar/8xDbU.png);
	background-repeat: repeat-x;
}
::-webkit-scrollbar:horizontal:corner-present {
	border-right-width: 0;
}
::-webkit-scrollbar-thumb:horizontal {
	-webkit-border-image: url(Images/scollbar/YQRD7.png) 0 15 0 15;
	border-color: transparent;
	border-width: 0 15px;
	min-width: 20px;
}
::-webkit-scrollbar-track-piece:horizontal:start {
	margin-left: 6px;
}
::-webkit-scrollbar-track-piece:horizontal:end {
	margin-right: -6px;
}
::-webkit-scrollbar-track-piece:horizontal:decrement {
	-webkit-border-image: url(Images/scollbar/p9yMk.png) 0 15 0 15;
	border-color: transparent;
	border-width: 0 0 0 15px;
}
::-webkit-scrollbar-track-piece:horizontal:increment {
	-webkit-border-image: url(Images/scollbar/p9yMk.png) 0 15 0 15;
	border-color: transparent;
	border-width: 0 15px 0 0;
}
::-webkit-scrollbar-button:horizontal {
	width: 21px;
	-webkit-border-image: url(Images/scollbar/NQ2K6.png) 0 2 0 2;
	border-color: transparent;
	border-width: 0 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url(Images/scollbar/dGOKL.png), url(Images/scollbar/8xDbU.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 7px 4px, 0 0;
}
::-webkit-scrollbar-button:horizontal:decrement:active {
	-webkit-border-image: url(Images/scollbar/gT5BM.png) 0 2 0 2;
	background-image: url(Images/scollbar/dGOKL.png), url(Images/scollbar/RDf8L.png);
}
::-webkit-scrollbar-button:horizontal:increment {
	background-image: url(Images/scollbar/5rJr5.png), url(Images/scollbar/8xDbU.png);
	background-repeat: no-repeat, repeat-x;
	width: 16px;
	border-left-width: 0;
	background-position: 3px 4px, 0 0;
}
::-webkit-scrollbar-button:horizontal:increment:active {
	-webkit-border-image: url(Images/scollbar/gT5BM.png) 0 2 0 2;
	background-image: url(Images/scollbar/5rJr5.png), url(Images/scollbar/RDf8L.png);
}
::-webkit-scrollbar-button:horizontal:end:increment:corner-present {
	border-right-width: 0;
	width: 15px;
}
::-webkit-scrollbar:vertical {
	-webkit-border-image: url(Images/scollbar/NdaTT.png) 2 0 2 0;
	border-color: transparent;
	border-width: 2px 0;
	background-image: url(Images/scollbar/p7j9a.png);
	background-repeat: repeat-y;
}
::-webkit-scrollbar:vertical:corner-present {
	border-bottom-width: 0;
}
::-webkit-scrollbar-thumb:vertical {
	-webkit-border-image: url(Images/scollbar/rPEsZ.png) 15 0 15 0;
	border-color: transparent;
	border-width: 15px 0;
	min-height: 20px;
}
::-webkit-scrollbar-track-piece:vertical:start {
	margin-top: 6px;
}
::-webkit-scrollbar-track-piece:vertical:end {
	margin-bottom: -6px;
}
::-webkit-scrollbar-track-piece:vertical:decrement {
	-webkit-border-image: url(Images/scollbar/Rb6ru.png) 15 0 15 0;
	border-color: transparent;
	border-width: 15px 0 0 0;
}
::-webkit-scrollbar-track-piece:vertical:increment {
	-webkit-border-image: url(Images/scollbar/Rb6ru.png) 15 0 15 0;
	border-color: transparent;
	border-width: 0 0 15px 0;
}
::-webkit-scrollbar-button:vertical {
	height: 21px;
	-webkit-border-image: url(Images/scollbar/NdaTT.png) 2 0 2 0;
	border-color: transparent;
	border-width: 2px 0;
}
::-webkit-scrollbar-button:vertical:decrement {
	background-image: url(Images/scollbar/KQvwk.png), url(Images/scollbar/p7j9a.png);
	background-repeat: no-repeat, repeat-y;
	background-position: 4px 7px, 0 0;
}
::-webkit-scrollbar-button:vertical:decrement:active {
	-webkit-border-image: url(Images/scollbar/uW3TL.png) 2 0 2 0;
	background-image: url(Images/scollbar/KQvwk.png), url(Images/scollbar/puDsH.png);
}
::-webkit-scrollbar-button:vertical:increment {
	background-image: url(Images/scollbar/UjkVR.png), url(Images/scollbar/p7j9a.png);
	background-repeat: no-repeat, repeat-y;
	height: 16px;
	border-top-width: 0;
	background-position: 4px 5px, 0 0;
}
::-webkit-scrollbar-button:vertical:increment:active {
	-webkit-border-image: url(Images/scollbar/uW3TL.png) 2 0 2 0;
	background-image: url(Images/scollbar/UjkVR.png), url(Images/scollbar/puDsH.png);
}
::-webkit-scrollbar-button:vertical:end:increment:corner-present {
	border-bottom-width: 0;
	height: 15px;
}
::-webkit-scrollbar:disabled {
	background: red;
	-webkit-border-image: none;
	display: none;
}